/*SearchFrom.jsx*/
.search-form {
  background-color: rgb(213, 88, 88);
  padding: 10px;

}


/*PropertyCard.jsx*/
.property-card {
  background-color: rgba(68, 94, 93, 0.235);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 40%;
  border-radius: 10px;
}

.property-card img {
  width: 250px;
  border-radius: 10px;
}

.add-drag-drop {
  border: 2px dashed grey;
  padding: 5px;          
}

.remove-drag-drop {
  border: 2px dashed red;
  padding: 10px;
  color: red;
}
