/*SearchFrom.jsx*/
.search-form {
  background-color: rgb(213, 88, 88);
  padding: 10px;

}


/*PropertyCard.jsx*/
.property-card {
  background-color: rgba(68, 94, 93, 0.235);
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: 40%;
  border-radius: 10px;
}
