/*root-body*/
#root {
  width: 100%;
  background-color: #fcfbfb;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #9c9c9c;
}

/*Header.jsx*/
.header-div {
  display: flex;
  background-color: #eee1e1;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15px;
  margin-bottom: 30px;
  box-shadow: 2px 2px 5px rgb(199, 198, 198);
}

.header-div h1 {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
}

.logo-img {
  width: 180px;
}

/*SearchFrom.jsx*/
.search-form {
  background-color: rgba(235, 215, 215, 0.911);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgb(167, 165, 165);
}

.search-form-label {
  font-weight: 600;
}

.property-type-input-div .css-13cymwt-control {
  width: 100%;
}

.price-bedroom-div {
  display: flex;
  padding: 10px 0; 
  gap: 20px;
}

.min-max-price, .min-max-beds {
  display: flex;
  flex: 1;
  gap: 12px;
}

.min-price, .max-price, .min-beds, .max-beds {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.date-postcode-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}

.date-postcode-div .postcode-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.postcode-wrapper label {
  font-weight: 600;
}

.date-wrapper {
  flex: 1;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input{
  width: 95%;
}

.react-datepicker__header {
  background-color: rgb(207, 181, 181) !important;
} 

.react-datepicker__day-names {
  font-weight: bold !important;
}

.react-datepicker-wrapper input:focus {
  border: 2px solid black;
  outline: none; 
}

.date-postcode-div input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(208, 204, 204);
}

.MuiOutlinedInput-root .MuiOutlinedInput-input {
  background-color: white !important;
  height: 36px !important;
  padding: 0 10px !important;
}

.MuiOutlinedInput-root fieldset {
  border: none;
}

.MuiOutlinedInput-root:hover fieldset {
  border: none;
}

.MuiOutlinedInput-root.Mui-focused fieldset {
  border: 2px solid black !important;
}

.price-input-div .css-13cymwt-control {
  width: 100%;
}

.search-form button[type="submit"] {
  background-color: rgb(219, 247, 205);
  box-shadow: 0 0 5px rgb(35, 84, 5);
}

/*PropertyCard.jsx*/
.property-card {
  background-color: #dbd7d7;
  margin-bottom: 10px;
  padding: 18px;
  border-radius: 10px;
  text-align: center;
  width: 35%;
  min-width: 270px;
}

.property-card img {
  width: 100%;    
  height: auto;   
  border-radius: 10px;
}

.property-card-location-p {
  margin: 0;
}

.property-card-bedroom-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.property-card-bedroom-div p {
  margin: 0;
}

.property-card-h2 {
  font-size: larger;
  margin: 5px 0 0 0;
}

.property-card-btn {
  margin: 5px;
}

/*Favourites*/
.favourites {
  flex: 1;
  position: sticky;
  top: 0;          
  align-self: flex-start; 
  margin-right: 30px; 
}

.favourites .property-card {
  width: 100%;      
  min-width: 250px;      
  box-sizing: border-box; 
  padding: 10px;     
}

.favourites .property-card img {
  width: 100%;
  height: auto;
}

.favourites h2 {
  margin-top: 15px;
  text-align: center;
}

.add-remove-section {
  display: flex;
  text-align: center;
}

.add-drag-drop {
  border: 2px dashed grey; 
}

.remove-drag-drop {
  border: 2px dashed red;
  color: red;
}

.add-drag-drop, .remove-drag-drop {
  padding: 10px;
}

.favourites-btn {
  display: none;
}

/*PropertyList*/
.property-list-div {
  text-align: center;
  margin-left: 10px;
  box-sizing: border-box;
  margin-top: 10px;
  flex: 3;
}

.property-list-div h2 {
  margin-top: 5px;
}

.property-list-content {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

/*Favourties and PropertyList displaying section*/
.below-search-form-section {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  margin-top: 20px;
}

/*PropertyDetails*/
.property-details-header-gallery, .property-details-small-content, .property-details-tablist {
  width: 90%;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgb(214, 210, 210);
  margin: 25px auto;
  padding: 10px;
  background-color: #f6f6f6;
}

.property-details-header {
  display: flex;
  align-items: center;
  width: 87%;
}

.property-details-logo {
  width: 15%;
  min-width: 120px;
}

#property-details-h1 {
  margin: 0 auto;
}

.image-gallery {
  margin: 0 auto;
  max-width: 900px;
}

.image-gallery-image {
  width: 85% !important;
}

.image-gallery-svg {
  width: 70% !important;
}

.property-details-small-content > p:first-of-type  {
  text-align: center;
  margin: 10px 0 20px 0;
  font-size: 17px;
}

.property-details-div h2, h3 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

.property-details-summary {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  border: 1px solid rgb(182, 176, 176);
  border-radius: 5px;
  width: 90%;
  margin: 10px auto;
}

.summary-item {
  text-align: center;
  border: 1px solid rgb(116, 116, 116);
  background-color: #f7f7f7;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #555;
  margin: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.value {
  padding-top: 5px;
  margin: 10px;
  border-top: 2px solid rgb(221, 195, 195);
}

.tab-list {
  padding: 0;
  margin-top: 20px;
  border-bottom: 2px solid rgb(52, 51, 51);
}

.react-tabs__tab--selected {
  background-color: rgb(223, 203, 203) !important;
}

.tab-list .react-tabs__tab {
  text-transform: uppercase;
  font-weight: 500;
}

.price-label {
  font-size: 18px;
  font-weight: 500;
  font-style: italic;
  padding-top: 10px;
}

.property-description {
  line-height: 30px;
  text-align: justify;
}

.property-floor-plan-img, .map-iframe {
  display: block;
  width: 60%;
  margin: 0 auto;
}

.map-iframe {
  border: 0;
  height: 400px;
  min-width: 400px;
}

@media (max-width: 700px) {
  /*search form*/ 
  .search-form {
    width: 80%;
    margin: 0 auto;
  }

  .price-bedroom-div, .date-postcode-div {
    flex-direction: column;
  }

  .price-bedroom-div {
    gap: 10px;
  }

  /*below search form*/
  .below-search-form-section {
    flex-direction: column;
    align-items: center;
  }

  /*property list*/
  .property-list-div {
    margin: 0;
    width: 90%;
  }

  .property-list-div h2 {
    text-align: center;
  }

  .property-list-content {
    justify-content: center;
  }
  
  /*property card*/
  .property-card {
    width: 80%;       
    min-width: auto;  
    margin: 0 auto; 
  }

  /*favourites*/
  .favourites {
    margin: 0 auto 10px;  /* center it and add bottom spacing */
    position: static;
  }

  .favourites .property-card {
    width: 85%;       /* Take up the full width of the sidebar */
  }

  .add-remove-section {
    flex-direction: column;
  }

  .add-drag-drop {
    padding: 0;
  }

  .remove-drag-drop {
    padding: 5px;
  }

  .favourites-btn {
    display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.856);
    border: 1px solid black;
    z-index: 1000;
  }

  /*property details*/
  .property-details-summary {
    width: 60%;
    grid-template-columns: 1fr;
  }

  .property-details-header {
    flex-direction: column;
    margin: 0 auto;
  }

  #property-details-h1 {
    text-align: center;
    font-size: 30px;
  }

  .property-details-logo {
    width: 25%;
    min-width: 100px;
  } 
}  