/*SearchFrom.jsx*/
.search-form {
  background-color: rgb(228, 219, 219);
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.search-form-label {
  font-weight: 600;
}

.property-type-input-div .css-13cymwt-control {
  width: 100%;
}

.price-bedroom-div {
  display: flex;
  gap: 20px;
}

.date-postcode-div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-bottom: 20px;
}

.date-postcode-div div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date-postcode-div input {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgb(208, 204, 204);
}

.price-input-div .css-13cymwt-control {
  width: 100%;
}

.css-13cymwt-control {
  margin: 2px 0 10px 0;
}

.search-form button[type="submit"] {
  background-color: rgb(194, 218, 237);
  border: 1px solid black;
}

/*root-body*/
#root {
  width: 100%;
}

/*PropertyCard.jsx*/
.property-card {
  background-color: rgba(68, 94, 93, 0.235);
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.property-card img {
  width: 380px;
  height: 230px;
  border-radius: 10px;
}

.property-card-location-p {
  margin: 0;
}

.property-card-bedroom-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.property-card-bedroom-div p {
  margin: 0;
}

.property-card-h2 {
  font-size: larger;
  margin: 5px 0 0 0;
}

.add-remove-section {
  display: flex;
  text-align: center;
}

.add-drag-drop {
  border: 2px dashed grey; 
}

.remove-drag-drop {
  border: 2px dashed red;
  color: red;
}

.property-card-btn {
  margin: 5px;
}

/*Favourites*/
.favourites {
  width: 100%;
  position: sticky;
  top: 0;          
  align-self: flex-start;    
}

/*PropertyList*/
.property-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-left: 15px;
}

/*Favourties and PropertyList displaying section*/
.below-search-form-section {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}